.input-wrapper {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  margin-bottom: 10px;
}

.label[data-required]::before {
  content: "* ";
  color: red;
}

.input {
  border: 1px solid var(--grey);
  border-radius: 2px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 15px;
}

.input::placeholder {
  color: var(--grey);
}

.input-with-icon {
  position: relative;
  width: 100%;
}

.input-with-icon .input {
  box-sizing: border-box;
  padding-left: 40px;
  width: 100%;
}

.input-with-icon :first-child {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 20px;
  left: 15px;
}
