.sidebar {
  flex: 0 0 30%;
  background-color: var(--grey);
  color: white;
}

.weather-today {
  width: 100%;
  text-align: center;
  margin: 200px 0 150px;
}

.weather-today h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.weather-today-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}
.weather-today-icon {
  height: 100px;
  width: 100px;
}

.weather-today-temp {
  font-size: 4rem;
}

.weather-today-temp sup {
  font-size: 2rem;
}

.weather-today-city {
  font-size: 1.5rem;
  font-weight: normal;
}
