.trips-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 75px;
  list-style: none;
  overflow-x: scroll;
  padding: 2rem 2rem 2rem 0;
}

.trip-card {
  font-size: 0;
}

.trip-card:hover {
  cursor: pointer;
  box-shadow: var(--light-blue) 0px 8px 24px;
}

.trip-card:hover .trip-card-description {
  border: solid 2px var(--light-blue);
  border-top: 0;
}

.trip-card[data-selected="true"] {
  box-shadow: var(--medium-blue) 0px 8px 24px;
}

.trip-card img {
  width: 250px;
}

.trip-card-description {
  font-size: 16px;
  border: solid 2px var(--light-grey);
  border-top: 0;
  padding: 20px;
}

.trip-card-city {
  font-weight: bolder;
  margin-bottom: 10px;
}

.trip-card-period {
  color: var(--grey);
}

.new-card {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  font-size: 1.5rem;
  background-color: var(--light-grey);
}

.new-card:hover {
  cursor: pointer;
  box-shadow: var(--grey) 0px 15px 20px -5px, var(--grey) 0px 10px 10px -5px;
}
