#main {
  display: flex;
}

.main-content {
  width: 70%;
  overflow-x: hidden;
  padding-left: 50px;
  box-sizing: border-box;
}

section {
  margin-bottom: 100px;
}

section:last-child {
  margin-bottom: 50px;
}

#main > section {
  margin-bottom: 0;
}

@media (max-width: 800px) {
  section {
    margin-bottom: 25px;
  }

  #main {
    flex-direction: column;
  }

  .main-content {
    width: 100%;
    padding-left: 25px;
  }
}
