#main {
  display: flex;
  padding-left: 50px;
}

.main-content {
  width: 70%;
  overflow-x: hidden;
}

section {
  margin-bottom: 100px;
}

section:last-child {
  margin-bottom: 50px;
}

#main > section {
  margin-bottom: 0;
}
